black==25.1.0
blinker==1.8.2
cachetools==5.5.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
deepdiff==8.0.1
distlib==0.3.8
filelock==3.16.1
Flask==3.0.3
google-api-core==2.24.1
google-auth==2.38.0
google-cloud-bigquery==3.30.0
google-cloud-core==2.4.2
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.69.0
greenlet==3.0.3
grpcio==1.70.0
grpcio-status==1.70.0
idna==3.10
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.1
mypy-extensions==1.0.0
orderly-set==5.2.2
packaging==24.2
parameterized==0.9.0
pathspec==0.12.1
pipenv==2024.0.2
platformdirs==4.3.6
playwright==1.47.0
proto-plus==1.26.0
protobuf==5.29.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyee==12.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2025.1
requests==2.32.3
rsa==4.9
six==1.17.0
slack_sdk==3.35.0
tomli==2.2.1
typing_extensions==4.12.2
urllib3==2.2.3
virtualenv==20.26.5
Werkzeug==3.0.4
zipp==3.20.2
